
h1{
    color:deepskyblue;
    font-family: 'Playfair Display', serif;
}

h2{
    color:deepskyblue;
    font-family: 'Playfair Display', serif;
}

h3{
    color: rgb(29, 78, 110);
    font-family: 'Playfair Display', serif;
}